<h1>修改文章</h1>

form helper

<%= form_with( model: @article, data: { turbo: false } ) do |f| %>

    <div>
        <%= f.label :title, "標題" %>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :context, "內文" %>
        <%= f.text_area :context %>
    </div>
    <%= f.submit %>
    <!-- <%= f.text_area :content %> -->

<% end %>

<!-- <form action="/articles" method="post" data-turbo="false">
    <div>
        <label for="">標題</label>
        <input type="text" name="cc[title]">
    </div>
    <div>
        <label for="">內文</label>
        <textarea name="cc[content]"></textarea>
    </div>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button>GO</button>
</form> -->
