<h1>
    <%= @article.title %>
    <div data-controller="like" data-id="<%= @article.id %>" data-liked="<%= current_user.liked?(@article) %>">
        <input type="button" value="讚" data-action="click->like#toggle" data-like-target="likebtn">
    </div>
</h1>
<article>
    <p><%= @article.context %></p>
</article>

<hr>

<h2>留言</h2>
<%= form_with( model:@comment ,url: article_comments_path(@article), data: { turbo: false } ) do |f| %>
    <div>
        <%= f.label :content, "留言" %><br>
        <%= f.text_area :content %>
    </div>
    <%= f.submit "新增留言" %>
<% end %>

<ul>
    <% @comments.each do |comment| %>
        <li>
            <%= comment.content %>(<%= comment.created_at %>)
        </li>
    <% end %>
</ul>