<h1>註冊帳號</h1>

<%= form_with( model:@user , data: { turbo: false } ) do |f| %>

<div>
<%= f.label :user_name, "使用者名稱" %>
<%= f.text_field :user_name %>
</div>
<div>
<%= f.label :email, "信箱" %>
<%= f.email_field :email %>
</div>
<div>
<%= f.label :password, "密碼" %>
<%= f.text_field :password %>
</div>

<%= f.submit "註冊帳號" %>
<% end %>